/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  and follow the formatting and style given.
*/
<style>
    .search {
        position: relative;
        display: inline-block;
        }
    .search-results {
        display: none;
        background-color: #fff;
        position: absolute;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }
    .search-results a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }
    .search-results a:hover {background-color: #ddd;}
</style>
