<head>
  
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/github.min.css">
  
    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css">
      
      
      <link rel="stylesheet" href="/css/main.min.0a64f3eede6e78edc2d8b2ca7051e4d9a6379f472dac76b1168733b88d27146a.css" integrity="sha256-CmTz7t5ueO3C2LLKcFHk2aY3n0ctrHaxFoczuI0nFGo=">
    
  

</head>

<section id="site-intro">
  <a href="/"><img src="/img/main/logo.jpg" class="circle" width="100" alt="Debug the world! Touch the theory!" /></a>
  <header>
    <h1>Shengting Cao's Note Book</h1>
  </header>
  <main>
    <p>Debug the world! Touch the theory!</p>
  </main>
  
    <footer>
      <ul class="socnet-icons">
        
        <li><a href="//github.com/scao7" target="_blank" rel="noopener" title="GitHub" class="fab fa-github"></a></li>











<li><a href="//linkedin.com/in/https://www.linkedin.com/in/shengting-steven-cao-aa5672136/" target="_blank" rel="noopener" title="LinkedIn" class="fab fa-linkedin"></a></li>







<li><a href="//youtube.com/https://www.youtube.com/channel/UCDItL8_wS1VLYaSrT6m9BFA" target="_blank" rel="noopener" title="YouTube" class="fab fa-youtube"></a></li>


















<li><a href="mailto:codescao7@gmailcom" target="_blank" title="Email" class="far fa-envelope"></a></li>

      </ul>
    </footer>
  
</section>


<script async src="https://cse.google.com/cse.js?cx=018350193954619334226:c7lkyn20qyy"></script>
<div id = "head" class="gcse-search"></div>


<div class="search" id="search">
    <input type="text" placeholder="Search site..." v-model="txt" @keyup="search()" @blur="close()" maxlength="50">
    <div class="search-results" :style="{'display': showresult?'block':'none'}">
        <a v-for="item in result" :href="item.url">{{ item.title }}</a>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" integrity="sha256-FtWfRI+thWlNz2sB3SJbwKx5PgMyKIVgwHCTwa3biXc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>

<script>
let vuesearch = new Vue({
    el: '#search', 
    data: {
        txt: '', 
        timeoutID: 0, 
        showresult: false, 
        result: {}, 
        bdd: [] 
        },
    mounted: function() {
        
        axios.get('https:\/\/shengtingcao.top\/search\/index.json')
        .then(function (response) {
            vuesearch.bdd = response.data.results;
            })
        .catch(function (error) {
            console.log(error);
            });
        },
    methods: {
        close: function() {
            
            
            setTimeout(function() {
                vuesearch.showresult = false;
                vuesearch.txt = '';
                }, 300);
            },
        search: function() {
            
            clearTimeout(this.timeoutID);
            this.timeoutID = setTimeout(this.dosearch, 500);
            },
        dosearch: function() {
            
            this.result = []; 
            let words = this.txt.split(' '); 
            let words2 = []; 
            words.forEach(function(element) { 
                if(element) {words2.push(element);}
                });
            let r;
            let resultmp;
            words2.forEach(function(e) { 
                r = vuesearch.bdd.filter(p => p.content.indexOf(e.toLowerCase()) !== -1);
                if(vuesearch.result.length===0) {vuesearch.result = r.slice(); return;}
                resultmp = [];
                vuesearch.result.forEach(function(all1) {
                    r.forEach(function(all2) { 
                        if(all1.url===all2.url) {resultmp.push(all1);}
                        });
                    });
                vuesearch.result = resultmp.slice();
                });
            this.result = this.result.slice(0, 10); 
            this.showresult = (this.result.length>0); 
            } 
        } 
    }); 
</script>
